.hotels__filter-button {
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  border: none;
  background-color: white;
  transition: 0.3s ease;
  padding: 0;
  margin-right: 19px;
  outline: none;
  cursor: pointer;
}

.hotels__filter-button:hover {
  opacity: 0.6;
}